name: Build Electron App

on:
  push:
    tags:
      - '*'  # This will trigger the workflow on any tag push

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}  # Set the GH_TOKEN globally

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # Change this to your preferred Node.js version

      - name: Install dependencies
        run: |
          npm install

      - name: Build Linux AppImage
        run: |
          npm run build:linux

      - name: Upload Linux AppImage
        uses: actions/upload-artifact@v4
        with:
          name: jg-desktop-linux
          path: dist/*.AppImage  # Adjust this path if necessary

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # Change this to your preferred Node.js version

      - name: Install dependencies
        run: |
          npm install

      - name: Build Windows Packages
        run: |
          npm run build:win

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: jg-desktop-windows
          path: dist/*.exe  # Adjust this path if necessary

  build-macos:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # Change this to your preferred Node.js version

      - name: Install dependencies
        run: |
          npm install

      - name: Build macOS Packages
        run: |
          npm run build:mac

      - name: Upload macOS Package
        uses: actions/upload-artifact@v4
        with:
          name: jg-desktop-macos
          path: dist/*.dmg  # Adjust this path if necessary